<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Trang chủ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="sidebar">
        <a href="{{ url_for('home') }}">🏠 Trang chủ</a>
        <a href="{{ url_for('history') }}">📜 Lịch sử</a>
        <a href="{{ url_for('settings') }}">⚙️ Cài đặt</a>
        <a href="{{ url_for('logout') }}"> 🔓 Đăng xuất</a>
    </div>
    <div class="main-content">
        <h2>HỆ THỐNG GIÁM SÁT ÁP SUẤT VÀ LƯU LƯỢNG NƯỚC</h2>
        <p>Màn hình vận hành</p>    </div>
</body>
</html>
